body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.logo {
    max-width: 100px; 
    height: auto; 
    display: block;
    margin: 0 auto; 
    padding: 10px; 
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.news {
    display: flex; 
    align-items: center;
    border: solid 1px #111;
    padding: 20px;
    margin-bottom: 20px;
}

.newsimage {
    max-width: 250px;
    height: auto;
    margin-right: 20px;
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .news {
        flex-direction: column;
    
    }
    
    .newsimage {
        margin-bottom: 20px;
    }

}



